/*Written by Mohit Bhasi

Twinkling star webpage background.
 
Twinkle , twinkle little star.
*/

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
/* Chrome, Safari, Opera */ 
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
/* Firefox */
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}


.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite; /* Firefox */
  -webkit-animation:move-twink-back 200s linear infinite; /* Chrome, Safari, Opera */ 
  animation:move-twink-back 200s linear infinite;
}
.huge-text {
  font-size: 4rem;
  font-weight: bold;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid transparent;
  display: inline-block;
}

.huge-text span {
  animation: blinking-cursor 1.4s step-end infinite;
}

.huge-text:before {
  content: "☥ ☥ ☥ ☥ ☥ ☥ ☥ ☥ ☥ ☥ ☥ ☥ ☥ ☥ ☥ ☥"; /* Add at least as many spaces as characters in your text */
  white-space: pre-wrap;
  display: inline-block;
  overflow: hidden;
  animation: type 12s steps(90, end) forwards;
}

@keyframes type {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes blinking-cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* ensure the text displays over other elements */
}
